@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
.body
{
    font-family: 'Urbanist', sans-serif;
}
#img_header
{
    width: 15em;
}
._header
{
    margin: 0 auto;
    width: 70%;
    padding: 3em;
}
.header__nav-items
{
    list-style: none;
    padding:1em;
    float: left;
    margin-left: -40px;
    width: 25%;
    text-align: center;
    background-color: #35444F;
}
li.header__nav-items > a[href] 
{
    color: white;
    text-decoration: none;
    width: 100%;
    transition: all 0.7s;
    font-weight: bold;
    font-size: 0.9rem;
}
li.header__nav-items > a:hover 
{
    color: white;
    background: #222F3A;
    text-decoration: none;
    padding: 1em 5em;
}

.main_nav/* контур у текста  */
{
border: solid 1px black;
width:180px;
height: 260px;
padding-top: 10px;
}
._main
{
     width: 70%;
     padding: 3em;
     margin: 0 auto;
}
.main_nav-items
{
    list-style: none;
    margin-left: -1em;
    font-size: 18pt;
    padding: 10px;
    text-decoration: none;
}
li.main_nav-items > a[href]
{
    color: black;
    text-decoration: none;
    position: relative;
}
li.main_nav-items > a:visited
{
    color: black;
}
li.main_nav-items > a:hover 
{
    color: black;
    background: #DBDBDB;
    display: inline-block;
}

#img_main-bg
{
    float:right;
    margin-top: -18em;
    margin-right: 2em;
}
#img_main
{
    float:right;
    margin-top: -29em;
    margin-right:20em;
}
._p
{
    margin-top: 18em;
    margin-left:23em;
    margin-right: 5em;
    text-align: justify;
}
.footer_div
{
    background-color: #B4B7BA;
    height:4em;
    width: 70%;
    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
}
.footer_nav-items
{
    list-style: none;
    text-align: center;
    margin-top: 6px;
    padding:1em;
    float: left;
}
li.footer_nav-items > a[href]
{
    color: black;
    text-decoration: none;
    
    
}
li.footer_nav-items > a:hover 
{
    color: #3181A6;
    text-decoration: underline;
    
}