
.header__nav
{
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 4em;
    background: #2D7053;
}
.circle 
{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
  }
.header__nav_div-p
{
    position: relative;
    
}